
body {
    /* feel free to update these css variables for a quick theme */
    
    --color1: white;
    --color2: white;
    --color3: white;
    --color4: white;
    --color5: white;
    
    /* https://coolors.co/generate and click export -> scss to get the colors to copy and paste below*/
        
    /* --color1: hsla(349, 69%, 76%, 1);
    --color2: hsla(207, 67%, 44%, 1);
    --color3: hsla(200, 61%, 56%, 1);
    --color4: hsla(187, 41%, 94%, 1);
    --color5: hsla(170, 28%, 95%, 1); */

    /* --color1: hsla(45, 86%, 83%, 1);
    --color2: hsla(135, 65%, 98%, 1);
    --color3: hsla(315, 37%, 86%, 1);
    --color4: hsla(45, 73%, 98%, 1);
    --color5: hsla(224, 40%, 79%, 1); */
    
    --header-height: 80px;
    --shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);
    --gutter: 30px;
    --footer-height: 25px;
    display: grid;
    grid-template-columns: 200px 1fr;
    font-family: 'Titillium Web', sans-serif;
    background-color: var(--color2);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-bottom: calc(var(--footer-height));
}

section {
    background-color: white;
    height: 100%;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: var(--gutter);
    border: solid 2px var(--color1);
}

header {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: var(--color3);
    height: var(--header-height);
    box-shadow: var(--shadow);
    height: 100%;
    width: 200px;
    top: 0;
    background-color: red;
}
a {
    text-decoration: none;
    color: black;
}

header a {
    font-weight: 900;
    color: black;
    margin-top: 20px;
    font-size: 1.5rem;
}

h2 {
    font-size: 1.8rem;
    font-weight: bold;
}

.gutter-right {
    margin-right: 20px;
}
p {
    margin: 0px;
}

header img {
    height: var(--header-height);
}

p {
    margin: var(--gutter);
}
  
#hero-list-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 50px;

}

.hero-card {
    font-size: 1rem;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: solid 5px black;
    width: 200px;
    height: 200px;
}

.hero-card img {
    width: 60%;
    
    border-radius: 20px;
}
.hero-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
}

